@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table{
  max-width: 1000px;
  margin: 50px 0;
  border-collapse: collapse;
}
table thead tr{
  background-color: rgb(219, 227, 230);
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
table th, 
table td{
  padding: 12px 15px;
  border: 1px solid rgb(202, 202, 202);
}
table tbody td{
  border-bottom: 1px solid rgb(202, 202, 202);
  border-left: 1px solid rgb(202, 202, 202);
  border-right: 1px solid rgb(202, 202, 202);
}
.search-input{
  margin-top: 50px;
  min-width: 1000px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: rgb(219, 227, 230);
}